@mixin card {
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.18);
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
  // border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 10;
}

@mixin acrylic {
  position: relative;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 10;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(16px);

  // Acrylic Noise
  &::after {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-image: url(noise_asset.png);
    z-index: -1;
    opacity: 0.02;
    border-radius: inherit;
  }
}
